# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
.env.local
client/.env
client/.env.local
server/.env

# build output
dist/
client/dist/
server/dist/

# editor
.idea/
.vscode/

# logs
*.log
npm-debug.log*
